* {
    font-family: 'Ubuntu', sans-serif;
    font-size:1em;
    padding:0;
    -moz-padding:0;
    margin:0;
    -moz-margin:0;
    border:none;
    box-sizing: border-box;
    -box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box; 
}

a { text-decoration: none; }

#body-login {
    background-color: #3a464a;
    line-height: 18px;
}

.content-login {
    position: relative;
    max-width: 700px;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    margin: 50px auto;
    background-color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .content-login {
        width: 310px;

    }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
    .content-login {
        width: 500px;

    }
}

.content-login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;     
}

.content-login-header h1 {
    display: block;
    background: #19384D;
    height: 60px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
    color: #CAC9CA;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .content-login-header h1 {
        font-size: 1.2rem;
        height: 65px;
        line-height: 40px;
        padding: 13px 0;
    }
}


.content-login-header > div > img {
    display: block;
    width: 200px;
    max-width: 100%;
    padding: 10px 0;
}

article.content-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    max-width: 100%;
    margin: 10px auto;
    padding: 15px;
    text-align: left;
    font-size: 1.5em;
    border: 1px solid #ccc;
    color: #8A8A8A;
}

.erro-email {
    color: red;
    font-size: 0.7em;
    text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

    article.content-login-form {
        width: 250px;
    }

    .content-login-header > div > img {
        width: 150px;
    }
}

.content-login-form > form input  {
    width: 100%;
    height: 40px;
    margin: 10px 0 18px 0;
    color: #b9b9b9;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px 5px;

}

.content-login-form form >.botao {
    background: #ff5100;
    height: 60px;
    font-size: 1.4em;
    width: 100%;
    color: #FFF;
    cursor: pointer;
}

/*Página do admin */
.top_align_header {
    height: 5px;
    background-image: linear-gradient(to right, #00BD9D, #19FFD8, #00BD9D);
}



.btn_menu_mobile {
    display: none;
}

.item_logo-mobile {
    display: none;
}

@media (max-width: 782px) {
    .item_logo {
        display: none;
    }

    .btn_menu_mobile {
        display: block;
        margin-left: 20px;
        font-size: 2em;
        color: #fff;
    }

    .btn_menu_mobile:hover { color: #00c0d6; }

    .item_logo-mobile {
        display: flex;
    }

    .item_logo-mobile img {
        display: block;
        max-width: 100%;
        height: 25px;
        margin-left: 15px;
    }
}

.main-template {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: auto;
    grid-template-areas: 
        "nav header header" 
        "nav content content" 
        "nav footer footer" 
    ;
    background-color: #f7f6f3;
}

.main-template .header {
    display: flex;
    grid-column: span 2;
    grid-row-start: header;
    grid-row-end: header;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background: #3a464a;
}

.item-title h1 {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    padding-left: 2px;
}

.item-header h1>i.left {
    padding-right: 10px;
}

.item_user {
    display: flex;
    align-items: center;
    height: 45px;
    margin-right: 20px;
}

.item_user li {
    list-style: none;
    line-height: 45px;
    font-weight: bolder;
    color:#fff;
    margin-right: 5px;
}

.item_user img {
    display: block;
    max-width: 100%;
    height: 30px;
}

/*MENU*/
.main-template .nav {
    grid-column: 1;
    grid-row-start: nav;
    grid-row-end: nav;
    min-height: 100%;
    height: 768px;
}

.main-template >nav {
    background-color: #3a464a;
    height: auto;
}

nav > div {
    display: flex;
    height: 45px;
    margin: 0 auto;
    align-items: center;
    background-color: #3a464a;
}
.avatar {
    display: block;
    width: 100%;
    height: 130px;
    /*background-color: #333;*/
}
.avatar img {
    display: block;
    max-width: 100%;
    width: 70px;
    margin: 10px auto; 
}

.avatar > .name-user {
    color:  rgb(156, 172, 178);
    text-align: center;
    margin: 10px;
    font-weight: 600;
}

.nav .menu { list-style: none; }

.nav .menu li a {
    color: rgb(156, 172, 178);
    display: flex;
    padding:15px 20px;
    background: #3a464a;
    text-decoration: none;
    align-items: center;
}

.nav .menu li a:hover { background: #00c0d6; color: #fff; }
.nav .menu .icon { font-size: 12px; line-height: 18px; }
.nav .menu .icon.left { float: left; margin-right: 8px; }
.nav .menu .icon.rigth { float: right; margin-left: 8px; }
.nav .menu ul { display: none; background: #465459; height: auto; }
.nav .menu ul li a { background: transparent; padding:15px 20px;}
.nav .menu ul li a:hover { background: #00a3e9; }
.nav .menu .active > a { background: #00c0d6; color:#FFF;  }
/*FIM MENU*/

/*CONTENT */
.item-content {
    display: flex;
    flex-direction: column;
   min-height: 768px;
}

 .item-header {
    padding: 20px 10px;
    background-color: #3a464a;
    border-left: 1px solid #CAC9CA;
}

.item-content .item-header h1 {
    color: rgb(156, 172, 178);
    padding:7px 0 1px 0;
    font-size: 1.2em;
}

.item-content .item-header h5 {
    font-size: 1.2rem;
    color: #191F24;
    padding:1px 0 7px 1.5px;
}

.item-content .item-graph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*background: #333;*/
    margin:40px 10px;
    border: 1px solid #CAC9CA;
    padding: 10px;
    background: #fff;
}

.item-content .item-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.box_posts, .box_views {
    width: 49%;
    height: auto;
    padding: 10px 0 0 0;
    background: #19384D;    
}

.box_posts h3, .box_views h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 15px;
    color:#00BD9D;
}

.btn_item {
    background-color: #FF5100;
    width: 100%;
    padding: 29px 10px;
    font-size: 1.2rem;
    color: #CAC9CA;
    font-weight: bolder;
}
/*item-lists*/
.item-lists ul {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5px;
}

.item-lists ul {
    list-style: none;
}

.item-lists ul li {
    color: #CAC9CA;
    font-size: 0.9em;
    padding: 10px 0px;
}

.item-lists ul li .fas {
    padding: 0 10px;
}

.item-cls {
    background-color: #19384D; 
}

/*FIM CONTENT*/

/*PAGINA TODOS OS POSTS*/
table {
    max-width: 100%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    margin: 40px 10px; 
    background-color: #fff;
}

th { 
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #234357;
    font-size: 1.1em;
    font-weight: normal;
}

tr:nth-child(even) {
  background-color: #f7f6f3;
}

/*Estilo da tabela paginas*/
tr, .td:nth-child(1){width: 60%}
tr, .td:nth-child(2){width: 20%}
tr, .td:nth-child(3){width: 20%}


tr, .td:nth-child(1){width: 60%}
tr, .td:nth-child(2){width: 20%}
tr, .td:nth-child(3){width: 20%}

tr, td {
    padding: 8px;
    height: 45px;
}

tr, td strong > a {
    text-decoration: none;
    color:#234357;
    font-size: .9em;
}

/*//tabelas de listas dos usuarios admin*/
div >.table-user {
    width: 100%;
    max-width: 90%;
    margin: 40px auto;
}

.tab-header >th { background-color: #ccc; font-weight: bolder; }
tr >.tb-users:nth-child(1){width: 15%;}
tr >.tb-users >p{ font-size: 1.2em;}
tr >.tb-users:nth-child(2){width: 55%}
tr >.tb-users:nth-child(3){width: 30%}
.tbody-users a { font-size: 1.1em; color:#0BBED4; padding: 5px 10px; margin: 0 3px; background-color: #19384D; }
.tbody-users a span:hover{ color:red; }

.row-actions {
    display: flex;
    justify-content: flex-start;
    margin: 5px 0;
}

.row-actions span a {
    text-decoration: none;
    padding: 7px;
    color: #0BBED4;
}

.row-actions span a:nth-child(1) { padding-left: 0; }
.row-actions span.edit a:hover { color: #19384D; }
.row-actions span.delete a:hover { color: red; }
.row-actions span.views a:hover { color: #19384D; }

@media screen and (max-width: 480px) {

}

@media only screen (max-width: 1200px) {
    content { width: 100%; }
    tr, td:nth-child(1){width: 60%}
    tr, td:nth-child(2){width: 20%}
    tr, td:nth-child(3){width: 20%}
}
/*FIM PAGS TODOS OS POSTS*/

/*FORMULARIOS DOS ADICIONAR POSTS*/
.form-content {
    display: flex;
    flex-direction: column;
    margin: 40px 10px;
    max-width: 100%;
    height: auto;
    border: 1px solid #CAC9CA;
}

.header-button { display: flex; }
.header-button button { padding: 5px 20px; margin-left: 20px; background-color:#FF5100; }
.header-button button a { text-decoration: none; color: #fff; font-size: 1.3rem;}

.item-form {
    width: 60vmax;
    margin: 20px auto;
}

.item-form label {
    text-align: left;
    font-size: 1.6vmax;
}

.item-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 15px 0;
    border: 1px solid #ccc;
} 

.item-form > .check {
     width: 10%;
     margin-left: -25px;
}

.item-form .texarea {
    margin: 10px 0 15px 0;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    height: 200px;
    color: #333;
    border: 1px solid #ccc;
}

.item-form .btn-form {
    margin: 10px 0;
    font-size: 2rem;
    color:#FF5100;
    background: #00BD9D;
    border-radius: 3px;
    cursor: pointer;
}

/*GALERIA DE IMAGENS E INSERIR IMAGENS*/
.form-content > label {
    padding: 10px 0 5px 10px;
    font-size: 1.2em;
    font-weight: bolder;
}

.form-content > input {
    margin: 10px 10px;
}

.form-content > div {
    padding: 15px 10px;
    font-size: 1.5em;
    font-weight: bolder;
}

.painel-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    background: #FFF;
    width: 100%;

}

.painel-image > div img {
    display: block;
    width: 150px;
    max-width: 100%;
    margin: 0 10px;
}

.foto-item > a {
    display: block;
    text-align: center;
    color: #00BD9D;
    font-size: 1rem;
    padding: 10px 0 5px 0;
    text-decoration: none;
}

.foto-item > a:hover {
    color: red;
}

/*RODAPÉ DO SISTEMA*/
.main-template .footer {
    grid-row: footer;
    grid-column: span 2;
    height: 40px;
    background: #FFF;  
}

.main-template .footer p {
    font-size: .9em;
    padding: 10px 0 10px 5px;
    font-weight: bold;
    font-weight: 40px;
}

.main-template .footer p a {
    text-decoration: none;
    color:#283033; 
}

.main-template .footer p a:hover {
    color: #00BD9D; 
}



